<div class="content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">ŠKKH - Finance</h4>
            <p class="card-category">Prohlédněte si naše služby.</p>
          </div>

          <div class="p-5 card-body">
            Toto je naše Home komponenta a ukazuje služby, které nabízíme.
          </div>


        </div>
      </div>
    </div>
  </div>
</div>



